input{ border: none; outline: none; display: block; -webkit-appearance:none;}
img { display: block}
.header{ 
    height: 44px; 
    width: 100%; 
    height: 50px; 
    background: #f63 ;
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    display: -webkit-box;	
    display: -webkit-flex;	
    display: flex; 
    padding: 0 15px;
}
.search{
    flex: 1;
    margin:9px 15px 0 20px;
    height: 32px;
    position: relative;
    background: #ffffff;
    border-radius: 30px;
}

.location{
    color: #ffffff;
    position: relative;
}

.current{
    font-size: 14px;
    line-height: 50px;
    display: block;
    padding-right:10px 
}
.citySelect{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: 0;
    
}
.citySelect img{
    width: 100%;
    height: 100%;

}
.searchIcon{
    width: 16px;
    height: 16px;
}
.searchIcon img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 7px;
}
.userheader{
     display: block;
     width: 20px; 
     height: 20px;
     margin-top: 15px;
}

.userheader img{
    width: 100%;
    height: 100%;
}